<mat-card class="card-buy">

  <!--    TODO: size + hover animation -->
  <img mat-card-image [src]="cardToBuy.img.src" [alt]="cardToBuy.img.alt">

  <mat-card-content class="card-buy__content">
    <span>{{cardToBuy.title}} #{{cardToBuy.idListing}}</span>
    <span>{{cardToBuy.price}} {{cardToBuy.currency}}</span>
    <span *ngIf="cardToBuy.lastSale">
        Last sale: {{cardToBuy.lastSale.price}} {{cardToBuy.lastSale.currency}}
    </span>
  </mat-card-content>

  <!--    TODO: handle non focused when user used tab key    -->
  <!--    TODO: handle display action when mobile view    -->
  <mat-card-actions class="card-buy__actions">
    <button mat-flat-button color="accent">Buy now</button>
    <button mat-flat-button color="accent">
      <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
