<mat-card class="card-buy">

  <!--    TODO: size + hover animation -->
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

  <!--    TODO: handle content-->
  <mat-card-content class="card-buy__content">
    bla bla
  </mat-card-content>

  <!--    TODO: handle non focused when user used tab key    -->
  <!--    TODO: handle display action when mobile view    -->
  <mat-card-actions class="card-buy__actions">
    <button mat-flat-button color="accent">Buy now</button>
    <button mat-flat-button color="accent">
      <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
