<mat-toolbar class="nav toolbar__grid">
  <button type="button" mat-icon-button (click)="emitToggleSideNav()">
    <mat-icon>{{ isActiveSideNav ? Icons.Close : Icons.Menu}}</mat-icon>
  </button>
  <span class="brand__name" (click)="navigateToHomePage()">NFT Series</span>
  <div class="toolbar__icons">
    <button type="button" mat-flat-button color="accent" (click)="connectToMetaMask()">
      Connect wallet
      <mat-icon>{{Icons.Wallet}}</mat-icon>
    </button>

    {{metaAddress$ | async}}

    <button mat-flat-button (click)="openCart()">
      <mat-icon>{{Icons.ShoppingCart}}</mat-icon>
    </button>
  </div>
</mat-toolbar>
