@use "@angular/material" as mat;
@use "sass:map";
@use "./palette-theme" as palette;

// SOURCE https://github.com/angular/components/issues/6244#issuecomment-1017629612
@function define-light-theme($config) {
  $theme: mat.define-light-theme($config);
  $color: map.get($theme, color);
  $color: map.merge(
      $color,
      (
        background: palette.$light-theme-background-palette,
        foreground: palette.$light-theme-foreground-palette,
      )
  );
  @return map.merge(
      $theme,
      (
        color: $color,
      )
  );
}

@function define-dark-theme($config) {
  $theme: mat.define-dark-theme($config);
  $color: map.get($theme, color);
  $color: map.merge(
      $color,
      (
        background: palette.$dark-theme-background-palette,
        foreground: palette.$dark-theme-foreground-palette,
      )
  );
  @return map.merge(
      $theme,
      (
        color: $color,
      )
  );
}
