/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar__grid {
  display: grid !important;
  grid-template-columns: auto 1fr auto;
}

.toolbar__icons {
  display: flex;
  gap: 0.5rem;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
