<header>
  <div class="cd__banner">
    <img [src]="collectionDetail?.imgBanner" [alt]="'Banner ' + collectionDetail?.name">
  </div>

  <div class="container">

    <div class="cd__header">
      <div class="cd__avatar">
        <img [src]="collectionDetail?.imgAvatar" [alt]="'Avatar ' + collectionDetail?.name">
      </div>

      <div class="cd__media">
        <a mat-icon-button>
          <mat-icon>{{Icons.Share}}</mat-icon>
        </a>
        <button mat-icon-button>
          <mat-icon>{{Icons.MoreHoriz}}</mat-icon>
        </button>
      </div>
    </div>

    <section class="cd__information">
      <h1>{{collectionDetail?.name}}</h1>

      <ul>
        <li>Director <strong>Tod Browning</strong></li>
        <li>Released <strong>1932</strong></li>
        <li>Country <strong>USA</strong></li>
      </ul>

      <p class="cd__information__description">
        {{collectionDetail?.description}}
      </p>
    </section>
  </div>
</header>


<div class="container">
  <mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab label="Items">
      <mat-drawer-container>
        <mat-drawer #drawer mode="side" [opened]="isDesktop">
          hello
        </mat-drawer>

        <mat-drawer-content>
          <header class="cd__tab__items__header">
            <button mat-icon-button>
              <mat-icon>filter</mat-icon>
            </button>

            <div>
              <input name="search" type="search" placeholder="Search by name"/>
            </div>
          </header>

        </mat-drawer-content>
      </mat-drawer-container>
    </mat-tab>
    <mat-tab label="Offers"></mat-tab>
    <mat-tab label="Casting">
      <section class="cd__tab__content__casting">
        <!--        Replace with swiper -->
        <div class="casting__card" *ngFor="let casting of collectionDetail?.casting">
          <header class="casting__card__header">
            <img src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
                 [alt]="casting.actor">
          </header>
          <div class="casting__card__details">
            <span>{{casting.actor}}</span>
            <span>{{casting.character}}</span>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>



