<app-nav-bar [isActiveSideNav]="drawer.opened" (toggleSideNav)="drawer.toggle()"/>

<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="drawer__sidenav full-screen">
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>{{Icons.DarkMode}}</mat-icon>
        <span>Night mode</span>
        <span matListItemMeta>
          <app-theme-toggle [displayIcon]="false"/>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="drawer__content full-screen">
    <main class="main__wrapper">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
